@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html {
  font-size: 12px;
  font-weight: 300;
}

body {
  background: radial-gradient(#B88C9E, #F1C8DB);
  width: 90vw;
  margin: 0 auto;
  padding: 4rem;
}

main {
  background: #F1C8DB;
  border: solid #704C5E;
  border-width: 8px 8px 8px 8px;
  border-radius: 2rem 2rem 2rem 2rem;
  min-height: 40vh;
  padding: 4rem;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
}

h2 {
  margin: 2rem 2rem 2rem 2rem;
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

input {
  background: transparent;
  border: 2px solid #704C5E;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 25rem;
  margin: 2rem 0;
  padding: 1rem 0;
  color: black;
  text-align: center;
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

button {
  background: transparent;
  border: 2px solid #704C5E;
  border-radius: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  padding: 2rem 6rem;
  color: black;
  font-family: 'Outfit', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

.stats {
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info span {
  font-size: 1.6rem;
}

@media (min-width: 800px) {
  body {
    width: 60vw;
  }
}
